/* contact start from here*/
.contact-row {
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 60px;
    content: "";
    display: table;
    clear: both;
    position: relative;
    top: 60px;
  }
  
  .contact-col {
    float: left;
    margin-top: 40px;
    margin-left: 30px;
    width: 47% !important;
  }
  .contact-heading {
    font-size: 1.7rem;
    position: relative;
    margin-bottom: 20px;
  }
  .contact-heading::before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -3px;
  }
  .bg-color {
    background-color: rgb(73, 68, 78, 0.7);
    height: 700px;
    position: relative;
  }
  
  .contact-bg-img {
    width: 100% !important;
    height: auto;
    position: relative;
    margin-top: 40px;
  }
  #fname,
  #email,
  #subject,
  #number {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 20px 15px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 20px;
  }
  #message {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .error {
    font-size: 15px;
    margin-top: -16px;
    margin-left: 10px;
    color: red;
    display: none;
  }
  #submit {
    background: #4b9c5b;;
    border: 0;
    margin-left: 37%;
    padding: 10px 24px;
    color: #fff;
    margin-top: 0px;
    transition: 0.4s;
  }
  #submit:hover {
    box-shadow: 0 0 0 4px #cde1f8;
    background: #4b9c5b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  
  #reset {
    background: #0078ff;
    border: 0;
    margin-left: 3%;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  #reset:hover {
    box-shadow: 0 0 0 4px #cde1f8;
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
  }
  .contact-details {
    margin-bottom: 10px;
    list-style-type: none;
    cursor: pointer;
  }
  .contact-details a {
    text-decoration: none;
    color: #1e1e1e;
  }
  .social-media-row {
    width: 55%;
    content: "";
    display: table;
    clear: both;
    margin-top: 5px;
  }
  .social-media-col {
    width: 20% !important;
    float: left;
  }
  
  .logo-social {
    width: 80%;
  }
  
  .social-icon {
    height: 40px;
    width: 40px;
    font-size: 1.7rem;
    border-radius: 50%;
    line-height: 1.5;
    text-align: center;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #4b9c5b;
    transition: all 500ms ease;
  }
  
  .social-icon:hover {
    background-color: rgb(75, 156, 91, 0.5) !important;
    color: white !important;
    box-shadow: 0 0 0 3px rgb(0, 120, 255,0.5) !important;
    transition: all 500ms ease !important;
  }
  .verify-col {
    width: 50%;
    float: left;
  }

  .contact-bg-img{
      font-size: 15px;
  }
  .social-heading{
      font-size: 30px;
  }
  .get-touch-describe{
    text-align: justify;
    margin-bottom: 10px;
  }
  /* ends here */