.trip-row{
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: auto;
}
.trip-col{
    width:32%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.text-describe-col{
    width: 80%;
    float: left;
}
.price-describe-col{
    width: 20%;
    float: left;
}